.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.idea
.pnp.js
/.pnp
/coverage
/node_modules
build
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.notes.txt
*.notes.md
.vscode
package-lock.json
stories
git-sim_media
.husky/pre-commit
src/data/exampleProjects/*.zip
.vim
.vimspector.json
.cursorignore
pnpm-lock.yaml

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
